
/* mealtime and meal name is left aligned */
/* .css-1t6li8r-MuiStack-root{
  display: flow-root !important;
  margin-left: 15px !important;
  max-width: 200px;
} */

.css-nrdprl-MuiTypography-root {
  font-style: italic !important;
}

