/* mealtime and meal name */
.css-c1wwjp-MuiStack-root {
  margin-left: 50px !important;
  max-width: 270px;
}


/* font properties for the joke inside a recipe */
.css-nrdprl-MuiTypography-root {
  font-style: italic !important;
}

/* meal list item when hover */
.css-1g29skm-MuiPaper-root:hover {
  box-shadow: rgb(112, 112, 112, 0.4) 5px 5px;
}

/* expand the button width to fill the sides */
#linkDrawerButton.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  width: 100%;
  font-weight: bold !important;
  font-size: 1.1rem !important;
  margin-bottom: 7px !important;
  background-color: rgb(247,191,80,0.65)  !important;
  color: rgb(78, 0, 0) !important;
}

/* side buttons on hover */
#linkDrawerButton.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #f7bf50  !important;
}

.buttonIcon{
  height: 25px;
  margin-right: 8px;
}


.css-wvkj6e-MuiDrawer-docked .MuiDrawer-paper{
  /* margin-bottom: 50px !important; */
  border: 20px;
  border-right: 5px solid rgb(231, 179, 7) !important;
}

/* keeps measure unit in a line */
.ingredientMeasure {
  display:inline;
}