body {
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  padding: 20px;
  padding-left: 15%;
  height:auto;
  min-height:95vh;
  background-image: url("https://i.ibb.co/N3fkCFN/tuxpi-com-1638005738.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
  
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.rotate {
  transform: rotate(-90deg);
}

.recipe {
  width: 100%;
  height: 20%;
  object-fit: cover
}

.fioLogo{
  border-radius: 50px;
}



/* login form css */
.login {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}

.form {
  max-width: 350px;
  margin: -100px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: #f7bf50;
 
}

.form .form__custom-button {
  margin-top: 10px;
}

.fioLogoLogin{
  margin-bottom: 10px;
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

